<button  pButton
         type="button"
         class="save-button">
  Add
</button>

<p-table
  #dt
  [filterDelay]="2000"
  [value]="staffRelativeList"
  [columns]="columns"
  [resizableColumns]="true"
  selectionMode="single"
  (onRowSelect)="onSelectRow($event)"
  [lazy]="true"
  (onLazyLoad)="onloadLazy($event)"
  dataKey="id"
  *ngIf="hideTable"
>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          pResizableColumn>
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-item
    let-columns="columns"
    let-rowIndex="rowIndex"

  >
    <tr [pSelectableRow]="item">
      <td>{{ item.spRelationDegreeName }}</td>
      <td>{{ item.fullName }}</td>
      <td>{{ item.birthDate }}</td>
      <td>{{ item.position }}</td>
      <td>{{item.educationalInstitution}}</td>
      <td>{{ item.address }}</td>
    </tr>
  </ng-template>
</p-table>

<app-relative-form [selectedRowData]="selectedRowData" ></app-relative-form>
